{% extends "base.html" %}

{% block title %}Montagram{% endblock %}

{% block jumbotron %}
    <section id="two" class="main style1 dark fullscreen">
         <div>
            <h2>Bienvenue sur Montagram</h2>
             <p><em>Outil d'identification de sommets</em></p>
            <p><a href="{% url 'reco:choice' %}" class="button style2" role="button">Commencer &raquo;</a></p>
         </div>
    </section>
{% endblock %}