{% extends "base.html" %}

{% block title %}Montagram - Choix{% endblock %}

{% block jumbotron %}
    <section id="one" class="main style3 dark fullscreen">
        <div class="box">
            <p><a href="{% url 'reco:upload' %}" class="button style2" role="button"> Reconnaître le sommet &raquo;</a></p>
            <p><a href="{% url 'reco:contrib' %}" class="button style2" role="button"> Labéliser un sommet &raquo;</a></p>
            <p class="comment">
                Montagram vous permet de reconnaître des sommets. Identifiez une de vos photos ou collaborez à
                l'enrichissement de notre base de données en ajoutant un sommet connu.
            </p>
        </div>
    </section>
{% endblock %}