{% extends "base.html" %}

{% block title %}Montagram - Contact{% endblock %}

{% block jumbotron %}
    <section id="twobis" class="main style1 dark fullscreen">
        <div class="container">
            <p>
                Ce projet a été élaboré dans le cadre du Projet Innovant du département
                <a href="http://tc-pi.insa-lyon.fr/" target="_blank" title="TC - INSA Lyon"> Télécommunications de l’INSA de Lyon</a>.
                <br />
                Consultez la <a href="http://montagram.insa-lyon.fr/" target="_blank" title="Montagram - Documentation">documentation</a>
                pour plus d'informations.
            <hr />
            <p><a href="mailto:contactmontagram@gmail.com">Envoyez-nous un email !</a></p>
        </div>
    </section>
{% endblock %}