{% extends "base.html" %}

{% block title %}Montagram - Contribution{% endblock %}

{% block js %}
{% endblock %}

{% block jumbotron %}
    <section id="work" class="main style3 dark fullscreen">
        <div class="box">
            <p class="comment">
                Sélectionnez une photo du pic montagneux que vous souhaitez labéliser.
                Vous pouvez choisir des photos par tout temps, tant que le sommet est clairement reconnaissable.
            </p>
             <script type="text/javascript">
             // The other field appears only if other is selected

             $(document).ready(function(){
                $("#id_name").change(function(){
                   if ($(this).val() == "0" ) {
                      $("#id_other").slideDown("fast"); //Slide Down Effect

                   } else {

                      $("#id_other").slideUp("fast");    //Slide Up Effect

                   }
                });
             });
             </script>
            <form method="POST" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="input select">
                   <p>
                   {{ form.name.errors }}
                   <label for="id_name">Nom du sommet:</label>
                   {{ form.name }}
                   </p>
                </div>
                <div class="myhide" id="id_other">
                   {{ form.other.errors }}
                   <label for="id_other">Entrez le nom:</label>
                   {{ form.other }}
                </div>
                <div class="id_picture">
                   <p>
                   {{ form.picture.errors }}
                   <label for="id_picture">Image:</label>
                   {{ form.picture }}
                   </p>
                </div>
                <input type="submit" value="Ajouter" class="button style2" />
            </form>
        </div>
    </section>
{% endblock %}