{% extends "base.html" %}

    {% block js %}
    <script src="{{ STATIC_URL}}js/jquery.Jcrop.js"></script>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL}}css/jquery.Jcrop.css" type="text/css" />
    {% endblock %}


{% block title %}Montagram - Découpage{% endblock %}

{% block jumbotron %}
    <section id="intro" class="main style3 dark fullscreen">
        <div class="box-big">
          <p>Sélection de la photo</p>
            <img style="width: 100%" src={{ image.url }} id="target">
        <script type="text/javascript">
         jQuery(function($){

            var jcrop_api;

            $('#target').Jcrop({
              onChange:   showCoords,
              onSelect:   showCoords,
              onRelease:  clearCoords,
              setSelect:   [ 200, 200, 100, 100 ],
              aspectRatio: 1,
              boxHeight: 400,
            },function(){
              jcrop_api = this;
            });

            $('#coords').on('change','input',function(e){
              var x1 = $('#x1').val(),
                  x2 = $('#x2').val(),
                  y1 = $('#y1').val(),
                  y2 = $('#y2').val();
              jcrop_api.setSelect([x1,y1,x2,y2]);
            });

          });

          // Simple event handler, called from onChange and onSelect
          // event handlers, as per the Jcrop invocation above
          function showCoords(c)
          {
            $('#x1').val(c.x);
            $('#y1').val(c.y);
            $('#x2').val(c.x2);
            $('#y2').val(c.y2);
          };

          function clearCoords()
          {
            $('#coords input').val('');
          };

        </script>

          <br>

          <form id="coords" class="coords" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="myhide" id="id_x1">
              {{ form.x1.errors }}
                <label for="id_x1"></label>
                {{ form.x1 }}
            </div>
            <div class="myhide" id="id_x2">
              {{ form.x2.errors }}
                <label for="id_x2"></label>
                {{ form.x2 }}
            </div>
            <div class="myhide" id="id_y1">
              {{ form.y1.errors }}
                <label for="id_y1"></label>
                {{ form.y1 }}
            </div>
            <div class="myhide" id="id_y2">
              {{ form.y2.errors }}
                <label for="id_other"></label>
                {{ form.y2 }}
            </div>
            <div class="comment">
                <strong>Instructions</strong>
                <p>
                    Dessinez un cadre assez large autour du sommet à identifier.
                    <br />
                    Placez le sommet bien au centre.
                </p>
            </div>
            <input type="submit" value="Valider" class="button style2"/>
            </form>
        </div>
    </section>
{% endblock %}
