{% extends "base.html" %}

{% block title %}Montagram - Résultat{% endblock %}

{% block jumbotron %}
    <section id="four" class="main style3 dark fullscreen">
        <div class="box-big">
            <h1>{{ name }}</h1>
            <a class="info-link" href="#infos" style="color: #000000">plus d'infos</a>
            <img src="{{ image.url }}" alt="Result" style="width: 100%">
            <div id="infos">
                <p style="line-height: 3em">
                    <br />
                </p>
                <hr />
                <strong>Infos</strong>
                {% if accuracy2 == 0 %}
                    <p>
                        Notre algorithme a pu identifier le sommet avec une précision de {{ accuracy1 }}%.
                        <br />
                        <br />
                        Vous pensez qu'il s'agit d'une erreur ? Contactez-nous par
                        <a href="mailto:contactmontagram@gmail.com?subject=Result error - picture {{ image_id }}
                        &amp;body=Précision: {{ name }} - {{ accuracy1 }}" style="color: #000000">mail</a> !
                    </p>
                {% else %}
                    <p>
                        Nous n'avons pas pu identifier votre photo de manière précise.
                    </p>
                    <ul>
                        <li>Cervin : {{ accuracy1 }}%</li>
                        <li>Huayna Picchu : {{ accuracy2 }}%</li>
                        <li>Département TC : {{ accuracy3 }}%</li>
                    </ul>
                    <p>
                        Vous n'avez pas de doute sur le nom du sommet ? Pensez à le
                        <a style="color: #000000" href="{%  url 'reco:contrib' %}">labéliser</a> !
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
