{% extends "base.html" %}

{% block title %}Montagram - Merci{% endblock %}

{% block jumbotron %}
    <section id="three" class="main style3 dark fullscreen">
        <div style="padding: 8em 0 10em 0; padding-left: 22%; line-height: 1.1em">
            <h1>Merci d’avoir contribué au développement du projet Montagram.</h1>
            <p>Votre photo sera validée par un administrateur.</p>
        </div>
    </section>
{% endblock %}