{% extends "base.html" %}


{% block title %}Montagram - Sélection{% endblock %}


{% block jumbotron %}
    <section id="onebis" class="main style1 dark fullscreen" xmlns="http://www.w3.org/1999/html">
        <div class="box">
            <form method="POST" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="style2">
                   <p>
                   {{ form.picture.errors }}
                   <label for="id_picture">Image:</label>
                   {{ form.picture }}
                   </p>
                </div>
                <p style="font-size: small; line-height: 1em">
                    <strong>Attention</strong>
                    <br />
                    Choississez une photo où le sommet de la montagne se distingue du reste du massif.
                </p>
                <input type="submit" value="Ajouter &raquo;" class="button style2" />
            </form>
        </div>
    </section>
{% endblock %}
