<!DOCTYPE html>
<html lang="fr">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL}}js/jquery.poptrox.min.js"></script>
    <script src="{{ STATIC_URL }}js/skel.min.js"></script>
    {% block js %}
    <script src="{{ STATIC_URL }}js/init.js"></script>
    {% endblock %}

    <!--CSS -->
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skel-noscript.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% block css %}
    {% endblock %}

    <title>{% block title %} Montagram {% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}images/logo1.png" type="image/x-icon">

</head>
<body>
<header id="header">
        <!-- Logo -->
             <h1 id="logo">
                 <a href="{% url 'reco:index' %}">
                     <img src="{{ STATIC_URL }}images/logo1.png" width="30" alt="Responsive image">
                     Montagram</a>
             </h1>

        <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="{%  url 'reco:upload' %}">Identification</a></li>
                    <li><a href="{%  url 'reco:contrib' %}">Labélisation</a></li>
                    <li><a href="{%  url 'reco:presentation' %}" target="_blank">Documentation</a></li>
                    <li><a href="{%  url 'reco:contact' %}">Contact</a></li>
                </ul>
            </nav>

        <!-- Bitbucket ribbon #hype -->
            <a href="https://bitbucket.org/montagram/montagram" id="ribbon">
              <img src="https://bitbucket.org/zgramana/bitbucket-ribbons/raw/988dffc5fbeb/png/bitbucket-ribbon-gray.png" />

            </a>

</header>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
     {% block jumbotron %}{% endblock %}
</div>

<div class="container">



</div>

	{% block script %}{% endblock %}


<footer id="footer">
					<ul class="menu" id="logo"><a href="https://telecom.insa-lyon.fr/">
						<img src="{{ STATIC_URL }}images/insa-blanc.png" width="60" alt="Responsive image">
						<li> Département  Télécommunications <br/>
						 Services et Usages</li>
						</a>
					</ul>

				<!--
				     Social Icons

				     Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
				-->

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Oriane Blot - Léa Le Baron - Baptiste Desbiolles <br/>
						Adrien Mallecourt - Augustin Renard - Augustin Roux - 2014</li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a>
                            <br />
                            <a href={% url 'reco:contact' %} >Contact</a></li>
					</ul>

			</footer>
</body>
</html>
